<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="primary-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="primary-menu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                {{ user.email }}
            </div>
            <div class="navbar-item">
                <p class="control">
                    <a class="button" href="{{ url_for("auth.logout") }}">
                        <span class="icon">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>